{% extends "portfolio/base.html" %} {% block content %}

<div id="container">
  <div id="container-introduction">
    <div id="container-welcome">
      <div id="heading-message"><h1>Welcome To the About Page!</h1></div>
      <div class="about-me">
        <div class="skills">
          <p>
            Hi, I’m Kostiantyn, an aspiring Junior Data Scientist passionate
            about leveraging data to solve real-world problems. With hands-on
            experience in Python and a robust stack of tools including Django,
            FastAPI, SQL, PostgreSQL, MongoDB, Docker, and GitHub , I have
            developed skills to build and deploy efficient data-driven
            applications. My expertise also extends to machine learning and deep
            learning frameworks like TensorFlow, Keras, and scikit-learn,
            enabling me to create predictive models and extract insights. I’m
            proficient in data analysis and visualization using pandas, numpy,
            matplotlib, and seaborn, and adept at front-end basics with HTML,
            CSS, and JavaScript. My goal is to contribute to data-driven
            innovation and grow as a professional in the data science field.
          </p>
        </div>
        <div class="skills">
          <p>
            Beyond my technical expertise in tools like Django, FastAPI, SQL,
            TensorFlow, and Docker, I bring soft skills that are essential for
            thriving in collaborative and dynamic environments. I am a strong
            communicator who can present complex data insights in a clear and
            compelling way, a critical thinker who enjoys solving problems
            creatively, and a team player who values collaboration and shared
            success. My adaptability allows me to quickly learn new
            technologies, and my passion for continuous learning drives me to
            stay updated with the latest trends in data science. I’m excited to
            leverage my combination of technical and interpersonal skills to
            contribute meaningfully to impactful projects.
          </p>
        </div>
        <div class="skills">
          <p>
            I’m a driven and detail-oriented individual passionate about
            transforming raw data into actionable insights. My journey in data
            science is fueled by a blend of technical expertise and a love for
            solving challenging problems. I thrive on learning and adapting to
            new technologies, which has equipped me with a strong foundation in
            Python, machine learning, data visualization, and web development.
            Alongside my technical skills, I value creativity, collaboration,
            and a growth mindset, believing that every project is an opportunity
            to learn and improve. I’m eager to contribute to impactful projects
            as a Junior Data Scientist and grow alongside a dynamic team in a
            forward-thinking organization.
          </p>
        </div>
      </div>
    </div>
  </div>
  <div id="container-tables">
    <h1 id="heading-qualifications">Qualifications</h1>
    <div id="qualifications-container">
      <div class="table-container">
        <table>
          <caption>
            My Qualifications
          </caption>
          <tr class="headers">
            <th class="header">Qualification</th>
            <th class="header">Date Start</th>
            <th class="header">Date Finish</th>
            <th class="header">Grade</th>
          </tr>
          {% for qualification in qualifications %}
          <tr class="row">
            <td data-cell="Qualification" class="cell">
              {{qualification.name}}
            </td>
            <td data-cell="Date Start" class="cell">
              {{qualification.date_start}}
            </td>
            <td data-cell="Date Finish" class="cell">
              {{qualification.date_finish}}
            </td>
            <td data-cell="Grade" class="cell">{{qualification.grade}}</td>
          </tr>
          {% endfor %}
        </table>
      </div>
    </div>
  </div>
</div>

{% endblock %}
