{% extends "portfolio/base.html" %} {% block content %}

<div id="main-box">
  <div id="introduction">
    <div id="short-intro">
      <img
        id="my-picture"
        src="https://res.cloudinary.com/dtg29idor/image/upload/v1733417394/photo_fhz60k.jpg"
      />
      <div id="short-skills">
        <h2>Junior Data Scientist</h2>
        <ul>
          <li>Model Creating🛠️</li>
          <li>Data Visualization👁️</li>
          <li>Data Cleaning🧹</li>
          <li>Data Analysis🔬</li>
        </ul>
      </div>
    </div>
    <!-- <div id="why-me"> -->
    <h1 id="why-me">Why me?</h1>
    <div id="arrow">
      <img
        src="https://res.cloudinary.com/dtg29idor/image/upload/e_background_removal/f_png/v1733418962/arrow_down_suzc81.jpg"
      />
    </div>
    <div id="visualization">
      <div id="examples">
        {% for image in examples %}
        <div class="box-img-example">
          <p class="example-title">{{image.title}}</p>
          <button class="open-image" type="button">
            <img class="img-example" src="{{ image.url }}" />
            <!-- <div class="show-image hidden">
              <img src="{{ image.url }}" />
            </div> -->
          </button>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
