{% extends "portfolio/base.html" %} {% block content %}

<div id="main-box">
  <div id="introduction">
    <div id="short-intro">
      <img
        id="my-picture"
        src="https://res.cloudinary.com/dtg29idor/image/upload/v1733417394/photo_fhz60k.jpg"
      />
      <div id="short-skills">
        <h2>Junior Data Scientist</h2>
        <ul>
          <li>Model Creating🛠️</li>
          <li>Data Visualization👁️</li>
          <li>Data Cleaning🧹</li>
          <li>Data Analysis🔬</li>
        </ul>
      </div>
    </div>
    <h1 id="why-me">Why me?</h1>
    <div id="arrow">
      <img
        src="https://res.cloudinary.com/dtg29idor/image/upload/e_background_removal/f_png/v1733418962/arrow_down_suzc81.jpg"
      />
    </div>
    <div id="visualization">
      <div id="examples">
        {% for image in examples %}
        <div class="box-img-example">
          <div
            class="project-image"
            style="background-image: url('{{ image.url }}');"
          ></div>
          <h2 class="example-title">{{image.title}}</h2>
          <div class="center">
            <a href="{% url 'portfolio:services' %}">
              <button class="learn-more">
                <span aria-hidden="true" class="circle">
                  <span class="icon arrow"></span>
                </span>
                <span class="button-text">Learn More</span>
              </button>
            </a>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% endblock %}
