{% extends "portfolio/base.html" %} {% block content %}

<div id="container">
  <div id="container-introduction">
    <div id="container-welcome">
      <div id="container-message">
        <div><h1>Welcome To My Projects Page!</h1></div>

        <div>
          <p>Here, you can investigate my own projects and team projects.</p>
        </div>
      </div>
    </div>
  </div>
  <div id="main-container">
    <div id="visualization">
      <div id="examples" style="gap: 10rem">
        {% for proj in examples %}
        <div class="box-img-example">
          <div
            class="project-image"
            style="background-image: url('{{ proj.url }}');"
          ></div>
          <h2 class="example-title">{{proj.title}}</h2>
          <p class="introduction">{{proj.introduction}}</p>
          <div class="git-url">
            <a class="page" href="{{proj.git_url}}" target="_blank"
              >See On GitHub</a
            >
          </div>
          <ul>
            <div class="container-analyze-step">
              {% for analyze_step in proj.description %}

              <li class="analyze-step"><h2>{{analyze_step.heading}}</h2></li>
              <p>{{analyze_step.paragraph}}</p>
              {% if analyze_step.code_snippet %}
              <div class="code-snippet">
                <pre
                  class="line-numbers language-python"
                ><code class="language-python">{{analyze_step.code_snippet}}</code></pre>
              </div>
              {% endif %}
              {% endfor %}
            </div>
          </ul>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
