{% extends "portfolio/base.html" %} {% block content %}

<div id="heading-serv">
  <h1>Here, I will show you the services I can offer to you</h1>
</div>

<div id="container-serv">
  <div class="container-serv-inner">
    <div class="service-heading"><h2>Regression</h2></div>
    <div class="service-info">
      <div
        class="service-img"
        style="
          background-image: url('https://res.cloudinary.com/dtg29idor/image/upload/v1733421788/ridge_ibbdxz.png');
        "
      ></div>
      <div class="service-paragraph">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Sunt,
          tenetur a autem recusandae est eaque sint, ipsam corporis beatae
          repudiandae rem iusto dolorum natus voluptatibus. Sequi, obcaecati.
          In, sequi blanditiis!
        </p>
      </div>
    </div>
  </div>
</div>
{% endblock %}
