{% extends "portfolio/base.html" %} {% block content %}

<div id="heading-serv">
  <h1>Here, I will show you the services I can offer to you</h1>
</div>

<div id="container-serv">
  {% for service in services %}
  <div class="service-heading">
    <h2>{{service.title}}</h2>
  </div>
  <div class="container-serv-inner">
    <div class="service-info">
      <div class="service-img" style="
          background-image: url('{{service.url}}');
        "></div>
    </div>
    <div class="service-paragraph">
      <p>
        {{service.description}}
      </p>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}