#heading-message {
  text-align: center;
}

#container-tables {
  padding-top: 2rem;
}

#heading-qualifications {
  text-align: center;
}

#qualifications-container {
  width: min(500px, 100% - 3rem);
  margin-inline: auto;
}

table {
  background: #aba9a9;
  width: 100%;
  border-collapse: collapse;
}

caption,
th,
td {
  padding: 1rem;
  color: white;
}

caption,
th {
  text-align: left;
}

caption {
  background: hsl(0 0% 0%);
  font-size: 1.5rem;
  font-weight: 700;
}

th {
  background: hsl(0 0% 0% / 0.5);
}

tr:nth-of-type(2n) {
  background: hsl(0 0% 0% / 0.1);
}

.table-container {
  max-width: 100%;
  overflow-x: scroll;
  margin-bottom: 2rem;
}

.about-me {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.skills p {
  font-size: 1.09rem;
  height: 32rem;
}

.skills {
  width: 30rem;
  background-color: hsl(0, 0%, 50%);
  border-radius: 5%;
  transition: all 0.2s ease;
}

.skills:hover {
  background-color: hsl(0 0% 50% / 0.5);
  scale: 1.05;
}

/* -----------------------------CONTACT PAGE-------------------------------- */
.form {
  position: relative;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  width: 20rem;
  background-color: white;
  padding: 1rem;
  border-radius: 5%;
  box-shadow: 0 30px 30px -30px rgba(27, 26, 26, 0.315);
}

.form .title {
  color: royalblue;
  font-size: 30px;
  font-weight: 600;
  letter-spacing: -1px;
  line-height: 1.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form input {
  outline: 0;
  border: 1px solid rgb(219, 213, 213);
  padding: 0.5rem 0.9rem;
  border-radius: 3%;
  width: 90%;
  height: 50px;
}

.form textarea {
  border-radius: 3%;
  height: 100px;
  width: 90%;
  resize: none;
  outline: 0;
  padding: 0.5rem 0.9rem;
  border: 1px solid rgb(219, 213, 213);
}

.form button {
  align-self: flex-end;
  padding: 8px;
  outline: 0;
  border: 0;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  background-color: royalblue;
  color: #fff;
  cursor: pointer;
}

#container-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.form:hover {
  scale: 1.1;
}

#container-main h1 {
  padding-top: 10rem;
  text-align: center;
}

html {
  overflow-y: scroll;
}

#heading-qualifications {
  padding-top: 10rem;
}

.about-me-links {
  text-align: center;
}

/* =========================ABOUT ME PAGE========================= */
/* ======================LINKS TO ABOUT ME======================== */
/* <reset-style> ============================ */
button {
  border: none;
  background: none;
  padding: 0;
  margin: 0;
  cursor: pointer;
  font-family: inherit;
}
/* <main-style> ============================ */
.menu__button {
  min-width: 62px;
  height: 36px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 16px;
  border: 1px solid #fff;
  background-color: transparent;
  position: relative;
}

.menu__button::before {
  content: "";
  width: 100%;
  height: 0;
  background-color: #fff;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
  transition: all 0.4s;
}

.menu__button:hover::before {
  height: 100%;
  top: 0;
}

.menu__button span {
  color: #fff;
  line-height: 1;
  transition: color 0.4s;
}

.menu__button:hover span {
  color: #000;
}

.container-about-me-links {
  display: flex;
  padding: 1rem;
  justify-content: center;
}

/* =========================EXPERIENCE PAGE========================= */
#heading-exp,
#heading-serv {
  padding-top: 12rem;
  text-align: center;
}

#container-exp {
  padding-top: 10rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.container-exp-inner {
  border: #000;
  border-radius: 5%;
  border-style: groove;
  background-color: white;
  padding: 1rem;
}

.container-exp-inner h2,
.container-exp-inner p {
  color: black;
}

.company-name,
.company-logo,
.company-description {
  padding: 1rem;
}

.company-logo {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  border-bottom-style: double;
  border-top-style: double;
}

.company-info {
  display: flex;
  text-align: right;
}

.company-logo img {
  width: 10rem;
  height: 10rem;
}

.my-responsibility h3 {
  text-align: center;
  margin: 0;
  padding-top: 0.5rem;
}

.company-description {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  padding: 1rem;
  text-align: start;
  padding-top: 0;
}

/* =========================SERVICES PAGE========================= */


#container-serv {
  gap: 2rem;
  margin-top: 10rem;
}

.container-serv-inner {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 1rem;
}

.service-heading {
  margin-left: 3rem;
}

.service-heading h1 {
  text-align: center;
}

.service-info {
  display: flex;
  flex-wrap: wrap;
  width: 40rem;
}

.service-img {
  height: 300px;
  background-size: cover;
  width: 100%;
  border-radius: 4% 0 0 4%;
}

.service-paragraph {
  width: 40rem;
  background-color: rgb(94, 94, 94);
  border-radius: 0 4% 4% 0;
}
