:root {
  --color-primary: #f4f1de;
  --color-secondary: #e07a5f;
  --color-tertiary: #3d405b;
  --color-primary-darker: #81b29a;
}

/* Reset default margins and padding */
html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 52, 52);
}

a,
p,
h1,
h2,
li {
  text-decoration: none;
  color: #f4f1de;
}

/* Navigation  */
.navigation {
  top: 0; /* Stick to the top */
  z-index: 1000; /* Ensure it's above other elements */
  background-color: rgb(94, 94, 94);
  display: flex;
  height: fit-content;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.navigation.sticky {
  position: fixed;
}
/* ---------------------- */
.pages {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex: 1;
  /* background-color: #e07a5f; */
  justify-content: end;
  align-items: baseline;
  /* border-radius: 5px; */
  gap: 0.3em;
  margin: 1rem;
}
/* ---------------------- */
.page {
  background-color: transparent;
  border: none;
  padding: 0.3em;
  color: #f4f1de;
  display: flex;
  position: relative;
  gap: 0.2em;
  cursor: pointer;
  /* border-radius: 4px; */
  transition: all 0.2s ease;
  font-size: large;
}
/* ---------------------- */
.page:not(:active):hover,
.page:focus {
  background-color: #21262c;
}
/* ---------------------- */
.page:focus,
.page:active {
  background-color: #1a1f24;
  outline: none;
}
/* ---------------------- */
.page::before {
  content: "";
  position: absolute;
  top: 30px;
  right: 0px;
  width: 100%;
  height: 3px;
  background-color: #ffffff;
  border-radius: 5px;
  opacity: 0;
}
/* ---------------------- */
.page:focus::before,
.page:active::before {
  opacity: 1;
}
/* ---------------------- */

#git-logo {
  height: fit-content;
  width: 1em;
}

/* -------------- HOME PAGE ------------------- */
#short-intro {
  display: flex;
  align-items: end;
  padding: 1em;
}

#my-picture {
  border-radius: 50%;
  border-radius: 50%;
  width: 10em;
  margin-top: 10rem;
  border-style: inset;
}

#short-skills {
  padding-left: 1em;
}

#why-me {
  text-align: center;
  font-size: 2em;
}

#arrow {
  display: flex;
  align-items: center;
  justify-content: center;
}

#arrow img {
  width: 2em;
  padding-bottom: 4em;
}

#visualization {
  padding: 1rem;
}

#examples {
  display: flex; /* Use CSS Grid for layout */
  /* grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr)); */
  flex-wrap: wrap;
  gap: 0.5rem; /* Space between images */
  justify-content: center;
}

.box-img-example {
  border: black;
  border-style: groove;
  object-fit: cover;
  border-radius: 3%;
}

.img-example {
  width: 100%;
  height: 70%;
  object-fit: cover;
}

.example-title {
  text-align: center;
  margin-bottom: 0;
  margin-top: 0.5em;
}

.show-image {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 60rem;
  background-color: #f3f3f3;
  padding: 5rem 6rem;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.3);
  z-index: 1000;
  transition: all 0.5s;
}

.hidden {
  display: none;
}
/* -------------------Internet----------------- */
.project-image {
  height: 320px;
  background-size: cover;
}

.box-img-example {
  width: 40rem;
  padding: 0;
  margin: 0;
  border-radius: 3% 3% 0 0;
}

/* ------------UIVERSE LEARN MORE------------ */
/* From Uiverse.io by Saad3092003 */

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center a {
  padding: 0.7em 1em;
}

button {
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}

button.learn-more {
  width: 12rem;
  height: auto;
}

button.learn-more .circle {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  box-shadow: 0 0 5px 1px white;
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #282936;
  border-radius: 1.625rem;
}

button.learn-more .circle .icon {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}

button.learn-more .circle .icon.arrow {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}

button.learn-more .circle .icon.arrow::before {
  position: absolute;
  content: "";
  top: -0.29rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}

button.learn-more .button-text {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: rgba(255, 255, 255, 0.493);
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}

button:hover .circle {
  width: 100%;
  box-shadow: 0 0 10px 2px white;
}

button:hover .button-text {
  transform: translate(-1.7rem, 0);
}

button:hover .circle .icon.arrow {
  background: #fff;
  transform: translate(8.7rem, 0);
}

button:active .circle .icon.arrow {
  transform: translate(9.5rem, 0);
  transition: all 0.3s;
}

button:active .circle {
  transform: scale(0.9);
  transition: all 0.3s;
  box-shadow: 0 0 5px 0.5px white;
}

button:hover .button-text {
  color: #fff;
}

button:active .button-text {
  color: rgba(255, 255, 255, 0.459);
}


/* ---------------Projects Page--------------------- */