#container,
#container-introduction {
  padding-top: 6em;
}

#h1-welcome {
  font-size: 1.5rem;
}

.container-messages {
  padding: 1em;
}

#container-message-1 {
  display: flex;
}

#main-container {
  padding-top: 5rem;
}

.introduction {
  padding: 0.5rem;
  padding-bottom: 0;
  padding-left: 2rem;
}

#container-message h1 {
  margin: 1em;
}
#container-message div p {
  margin: 1em;
}
/* ------------Internet Welcome-------------- */

/* From Uiverse.io by SouravBandyopadhyay */
/* .container-message {
  display: flex;
  flex-direction: column;
  isolation: isolate;
  position: relative;
  width: 18rem;
  height: 8rem;
  background: #29292c;
  border-radius: 1rem;
  overflow: hidden;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 16px;
  --gradient: linear-gradient(to bottom, #2eadff, #3d83ff, #7e61ff);
  --color: #32a6ff;
}

.container-message:before {
  position: absolute;
  content: "";
  inset: 0.0625rem;
  border-radius: 0.9375rem;
  background: #18181b;
  z-index: 2;
}

.container-message:after {
  position: absolute;
  content: "";
  width: 0.25rem;
  inset: 0.65rem auto 0.65rem 0.5rem;
  border-radius: 0.125rem;
  background: var(--gradient);
  transition: transform 300ms ease;
  z-index: 4;
}

.container-message:hover:after {
  transform: translateX(0.15rem);
}

.notititle {
  color: var(--color);
  padding: 0.65rem 0.25rem 0.4rem 1.25rem;
  font-weight: 500;
  font-size: 1.1rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.container-message:hover .notititle {
  transform: translateX(0.15rem);
}

.notibody {
  color: #99999d;
  padding: 0 1.25rem;
  transition: transform 300ms ease;
  z-index: 5;
}

.container-message:hover .notibody {
  transform: translateX(0.25rem);
}

.notiglow,
.notiborderglow {
  position: absolute;
  width: 20rem;
  height: 20rem;
  transform: translate(-50%, -50%);
  background: radial-gradient(
    circle closest-side at center,
    white,
    transparent
  );
  opacity: 0;
  transition: opacity 300ms ease;
}

.notiglow {
  z-index: 3;
}

.notiborderglow {
  z-index: 1;
}

.container-message:hover .notiglow {
  opacity: 0.1;
}

.container-message:hover .notiborderglow {
  opacity: 0.1;
}

.note {
  color: var(--color);
  position: fixed;
  top: 80%;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  font-size: 0.9rem;
  width: 75%;
} */

/* ------------GIT LINK------------------- */
.git-url {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-analyze-step h2,
p {
  white-space: pre-line;
  padding-left: 1rem;
  /* display: flex;
  align-items: center; */
}
.code-snippet {
  display: flex;
  justify-content: right;
  border-radius: 1rem;
  border-style: none;
  background-color: aliceblue;
}

.code-snippet pre code {
  color: black;
  white-space: pre-wrap;
}

/* ---------------LANGUAGES SNIPPETS----------------- */
/***** Show language in code blocks *****/
body pre[class^="language-"]::before {
  font-family: var(--font-default);
  color: var(--text-muted);
  font-size: var(--font-smaller);
  font-weight: var(--font-semibold);
  position: absolute;
  right: 0.5em;
  top: 0.5em;
}

body pre[class~="language-py"]::before,
body pre[class~="language-python"]::before {
  content: "PYTHON";
}
